---
import SectionTitle from "./SectionTitle.astro";
---

<section id="contact" class="py-24">
  <SectionTitle
    title="Contact"
    subtitle="Envie de travailler ensemble ou simplement échanger ?"
  />

  <div class="text-center">
    <a
      href="mailto:sylvain.david.60@gmail.com"
      class="btn-primary inline-block"
    >
      📩 Me contacter
    </a>
  </div>
</section>