<form class="grid gap-6 max-w-xl mx-auto card">
<input type="text" placeholder="Votre nom" class="p-3 rounded bg-black/20 border border-white/10" />
<input type="email" placeholder="Votre email" class="p-3 rounded bg-black/20 border border-white/10" />
<textarea placeholder="Votre message" class="p-3 rounded bg-black/20 border border-white/10"></textarea>
<button class="btn-primary">Envoyer</button>
</form>