---
import SectionTitle from "./SectionTitle.astro";
---

<section id="cv" class="py-24">
  <SectionTitle
    title="Mon CV"
    subtitle="Vous pouvez télécharger mon CV mis à jour."
  />

  <div class="text-center">
    <a href="/DAVID_Sylvain_CV.pdf" download class="btn-primary">
      📄 Télécharger mon CV
    </a>
  </div>
</section>