<!-- <section class="py-20 text-center">
    <h1 class="text-5xl font-bold mb-4 text-gray-100">
        Bonjour, je suis <span class="text-orange-400">Développeur Web Back</span>
    </h1>
    <p class="text-gray-300 text-lg max-w-2xl mx-auto">
        Spécialisé en PHP (Laravel, Symfony), Vue.js, Docker et création d'applications web modernes.
        Spécialisé en PHP, Laravel, Symfony, Vue.js et Docker.
        Je crée des applications web fiables, performantes et conçues pour durer.
    </p>
</section> -->
<section id="hero" class="py-32">
  <div class="grid md:grid-cols-2 items-center gap-12">

    <!-- IMAGE -->
    <div class="flex justify-center">
      <img
        src="/me.jpeg"
        alt="Photo de Sylvain"
        class="w-60 h-60 rounded-2xl object-cover border-2"
        style="border-color: var(--accent);"
      />
    </div>

    <!-- TEXT -->
    <div>
      <h1 class="text-5xl font-bold mb-4">
        Salut, moi c'est <span class="text-accent">Sylvain</span> 👋
      </h1>

      <p class="text-muted text-lg leading-relaxed max-w-xl">
        Développeur Web spécialisé PHP, Laravel, Symfony et Docker.
        J’aime concevoir des applications robustes, scalables, 
        avec une architecture propre et un front moderne en Vue.js.
      </p>
    </div>

  </div>
</section>