<section class="py-20 text-center">
    <h1 class="text-5xl font-bold mb-4 text-gray-100">
        Bonjour, je suis <span class="text-orange-400">Développeur Web Back</span>
    </h1>
    <p class="text-gray-300 text-lg max-w-2xl mx-auto">
        <!-- Spécialisé en PHP (Laravel, Symfony), Vue.js, Docker et création d'applications web modernes. -->
        Spécialisé en PHP, Laravel, Symfony, Vue.js et Docker.
        Je crée des applications web fiables, performantes et conçues pour durer.
    </p>
</section>