<nav class="w-full backdrop-blur-md bg-black/20 border-b border-white/5 sticky top-0 z-50">
    <div class="max-w-6xl mx-auto flex items-center justify-between py-4 px-6">
        <!-- <div class="text-orange-400 font-semibold text-xl tracking-wide">SD</div> -->
        <a href="#hero" class="text-orange-400 font-semibold text-xl tracking-wide">
        SD
        </a>
        
        <div class="flex gap-4">
            <!-- LINKS -->
            <ul class="flex gap-6 text-sm text-gray-300">
                <li><a href="/" class="hover:text-orange-400 transition">Accueil</a></li>
                <li><a href="#projects" class="hover:text-orange-400 transition">Projets</a></li>
                <li><a href="#contact" class="hover:text-orange-400 transition">Contact</a></li>
            </ul>
            <!-- SOCIAL ICONS -->
            <a href="https://github.com/SylDav" target="_blank" class="hover:opacity-80">
                <img src="/icons/github.svg" class="w-6 h-6" />
            </a>
            <a href="https://linkedin.com/in/sylvain-david-663253105" target="_blank" class="hover:opacity-80">
                <img src="/icons/linkedin.svg" class="w-6 h-6" />
            </a>
        </div>
    </div>
</nav>