<nav class="w-full backdrop-blur-md bg-black/20 border-b border-white/5 sticky top-0 z-50">
    <div class="max-w-6xl mx-auto flex items-center justify-between py-4 px-6">
    <div class="text-orange-400 font-semibold text-xl tracking-wide">SD</div>

    <ul class="flex gap-6 text-sm text-gray-300">
        <li><a href="/" class="hover:text-orange-400 transition">Accueil</a></li>
        <li><a href="/projets" class="hover:text-orange-400 transition">Projets</a></li>
        <li><a href="/contact" class="hover:text-orange-400 transition">Contact</a></li>
        </ul>
    </div>
</nav>