---
import ProjectCard from "./ProjectCard.astro";
import SectionTitle from "./SectionTitle.astro";

const projects = [
{
    title: "CRM Immobilier",
    description: "Application CRM complète pour agences, propriétaires et locataires.",
    tech: "Laravel, Vue.js, Docker, API REST",
    link: "#"
},
{
    title: "Gestion Tournois Badminton",
    description: "Application web pour organiser des tournois.",
    tech: "Laravel, Inertia, Vue.js",
    link: "#"
},
{
    title: "Blog Club Badminton",
    description: "Site WordPress optimisé SEO pour un club sportif.",
    tech: "WordPress, SEO, Bénévolat",
    link: "https://www.fdvvarangeville.fr"
},
{
    title: "Notre-Dame Beauvais",
    description: "Site WordPress optimisé SEO pour un ensemble scolaire.",
    tech: "WordPress, SEO, Freelance",
    link: "https://notredamebeauvais.com/"
},
];
---
<section id="projects" class="py-24">
  <SectionTitle
    title="Projets"
    subtitle="Quelques projets dont je suis fier."
  />

    <div class="grid gap-8 md:grid-cols-2">
        {projects.map(project => (
            <ProjectCard {...project} />
        ))}
    </div>
</section>