---
import SectionTitle from "./SectionTitle.astro";
---

<section id="rs" class="py-24">
  <SectionTitle
    title="Réseaux sociaux"
    subtitle="Vous pouvez me retrouver ou me contacter via ces plateformes."
  />

  <div class="flex justify-center gap-12 text-lg">
    <a href="https://github.com/SylDav" class="text-accent hover:underline">GitHub</a>
    <a href="https://linkedin.com/in/sylvain-david-663253105" class="text-accent hover:underline">LinkedIn</a>
  </div>
</section>